@import "variables";
@font-face {
    font-family: Share;
    src: local("Share"), url("../Font/Share-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: Share, Arial, serif;
    font-size: $content-font-size;
}

p {
    line-height: $content-line-height;
    margin: 0;
}
